#Ignore thumbnails created by Windows
Thumbs.db
#Ignore log, config etc. user created files.
ClientFiles/spawnmap.ini
ClientFiles/spawn.ini
ClientFiles/except.txt
ClientFiles/ra2md.ini
ClientFiles/keyboardmd.ini
ClientFiles/ddraw.dll
ClientFiles/ddraw.ini
ClientFiles/libwine.dll
ClientFiles/wined3d.dll
ClientFiles/dxwnd.dll
ClientFiles/dxwnd.ini
ClientFiles/aqrit.cfg
ClientFiles/syringe.log
ClientFiles/stats.dmp
ClientFiles/debug/
ClientFiles/Client/
ClientFiles/Map Editor/FinalAlert.ini
ClientFiles/Map Editor/RA2Tmp.csf
ClientFiles/Map Editor/FinalAlert2Log.txt
ClientFiles/Map Editor/syringe.log
ClientFiles/Saved Games/
ClientFiles/Screenshots/
